In [74]:
from typing import Any
import json
import pandas as pd
PHENOMENA_PATH_PREFIX = "../scripts/metrics_by_phenomena/results/"
QUANTIFIER_PATH_PREFIX = "../scripts/analyze_quantifiers/results/"

In [75]:
def load_model_metrics(name: str, path: str) -> Any:
    with open(path, "r") as f:
        data = json.loads(f.read())
        return {"name": name, "metrics": data}

In [76]:
models = [
    ("default", "roberta-base-finetuned-mnli.json"),
    ("hypothesis-only", "roberta-base-finetuned-mnli-hypothesis-only.json"),
    ("maximum-two", "roberta-base-finetuned-mnli-maximum_two_6.json")
]
phenomena_models = [load_model_metrics(name, PHENOMENA_PATH_PREFIX + path) for name, path in models]
quantifier_models = [load_model_metrics(name, QUANTIFIER_PATH_PREFIX + path) for name, path in models]

In [77]:
def sort_model(key, model):
    model["metrics"].sort(key=lambda x: x[key], reverse=True)
    return model

def construct_table_for_metric(metric_name, metric_key, models):
    sorted_models = [sort_model(metric_key, model) for model in models]
    pandas_dict = {model["name"]: [
            (
                entry["task_name"],
                round(entry[metric_key], 3)
            )
            for entry in model["metrics"]
        ] for model in models}
    df = pd.DataFrame({k:pd.Series(v) for k,v in pandas_dict.items()})
    df.name = metric_name
    return df

In [78]:
def calculate_metrics(models):
    return [ construct_table_for_metric(metric_name, metric_key, models) for metric_name, metric_key in [
        ("accuracy", "accuracy"),
        ("matthews correlation coefficient", "matthews_correlation"),
        ("macro f1", "f1")
    ]]

In [79]:
phenomena_metrics = calculate_metrics(phenomena_models)
quantifier_metrics = calculate_metrics(quantifier_models)

In [80]:
from IPython.core.display import display, HTML

def display_side_by_side(dfs):
    output = ""
    #df_dicts = dict(dfs)
    for df in dfs:
        output += df.style.set_table_attributes("style='display:inline'").set_caption(df.name)._repr_html_()
        output += "<br><br>"
    display(HTML(output))

In [81]:
display_side_by_side(
    phenomena_metrics
)

In [82]:
display_side_by_side(
    quantifier_metrics
)

# Bias by Ferret metrics

In [83]:
from datasets import load_from_disk
import multiprocessing
from functools import reduce

In [84]:
PHENOMENA = ["synonym", "antonym", "hypernym", "hyponym", "co_hyponym", "quantifiers", "numericals"]
# Notebooks run on last, so path is also on last
DATASET_PATH = "/mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena"

In [85]:
dataset = load_from_disk(DATASET_PATH)

In [86]:
def construct_metrics_by_phenomenon(dataset, phenomenon):
    cpu_count = multiprocessing.cpu_count()
    def phenomenon_filter(record):
        return record[phenomenon] > 0
    return dataset.filter(phenomenon_filter, num_proc=cpu_count).to_pandas()["evaluations"]
    

def construct_phenomena_metrics(dataset, phenomena):
    return {phenomenon: construct_metrics_by_phenomenon(dataset, phenomenon) for phenomenon in phenomena}

def construct_phenomena_dfs(metrics):
    def bake_df(series, name):
        df = series.to_frame()
        df.name = name
        return df.evaluations
    return [bake_df(series, name) for name, series in metrics.items()]

In [87]:
phenomena_metrics = construct_phenomena_metrics(dataset, PHENOMENA)
phenomena_metrics = construct_phenomena_dfs(phenomena_metrics)

Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-cbeaf634725dc3b8_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-909255f04b113caa_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-9d06c1fb94f66ed4_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-9ebba56b915324d6_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-68ad2491d38d6f59_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-4b409e1145f63001_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-12776c914178e643_*_of_00040.arrow

In [88]:
EXPLAINERS = ["shap", "lime", "integrated gradient", "integrated gradient multiply by inputs"]
EVALUATORS = ["comprehensiveness", "sufficency", "tauloo", "auprc plausibility", "f1 plausibility", "iou plausibility"]

In [89]:
def add_record_labels(records, explainer_labels, evaluator_labels):
    def add_evaluation_labels(explanation):
        return {name: evaluation for name, evaluation in zip(evaluator_labels, explanation)}
    def add_explainer_labels(record):
        return {name: add_evaluation_labels(explanation) for name, explanation in zip(explainer_labels, record)}
    return [add_explainer_labels(record) for record in records]


# Calculate sum, then divide by len, so that I do not need to read every
def record_mean(records):
    item_count = len(records)
    def sum_records(r1, r2):
        return [
            [
                r1_explanation + r2_explanation
                for r1_explanation, r2_explanation in zip(r1_evaluation, r2_evaluation)
            ]
            for r1_evaluation, r2_evaluation in zip(r1, r2)
        ]
    def finish_mean(input):
        return [
            [
                explanation / item_count
                for explanation in evaluation
            ]
            for evaluation in input
        ]
    aggregated = reduce(sum_records, records)
    return finish_mean(aggregated)

In [90]:
records_mean = [record_mean(phenomena) for phenomena in phenomena_metrics]
labeled_df = add_record_labels(records_mean, EXPLAINERS, EVALUATORS)

In [91]:
def phenomena_label(records):
    return {name: record for name, record in zip(PHENOMENA, records)}

In [92]:
labeled_dict = phenomena_label(labeled_df)

## Tables for dataset evaluated on "normal" model

In [93]:
def another_df(phenomenon, item):
    df = pd.DataFrame({k:pd.Series(v) for k,v in item.items()})
    df.name = phenomenon
    return df

display_side_by_side(
    [another_df(phenomenon, single) for phenomenon, single in labeled_dict.items()]
)

In [94]:
HYPOTHESIS_ONLY_DATASET_PATH = "/mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena"

In [95]:
dataset = load_from_disk(HYPOTHESIS_ONLY_DATASET_PATH)
phenomena_metrics = construct_phenomena_metrics(dataset, PHENOMENA)
phenomena_metrics = construct_phenomena_dfs(phenomena_metrics)
records_mean = [record_mean(phenomena) for phenomena in phenomena_metrics]
labeled_df = add_record_labels(records_mean, EXPLAINERS, EVALUATORS)
labeled_dict = phenomena_label(labeled_df)

Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-cbeaf634725dc3b8_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-909255f04b113caa_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-9d06c1fb94f66ed4_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-9ebba56b915324d6_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-68ad2491d38d6f59_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-4b409e1145f63001_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-12776c914178e643_*_of_00040.arrow

## Tables for dataset evaluated on hypothesis only model

In [96]:
display_side_by_side(
    [another_df(phenomenon, single) for phenomenon, single in labeled_dict.items()]
)