In [1]:
from typing import Any
import json
import pandas as pd
PHENOMENA_PATH_PREFIX = "../scripts/metrics_by_phenomena/results/"
QUANTIFIER_PATH_PREFIX = "../scripts/analyze_quantifiers/results/"

In [2]:
def load_model_metrics(name: str, path: str) -> Any:
    with open(path, "r") as f:
        data = json.loads(f.read())
        return {"name": name, "metrics": data}

In [3]:
models = [
    ("default", "roberta-base-finetuned-mnli.json"),
    ("hypothesis-only", "roberta-base-finetuned-mnli-hypothesis-only.json"),
    ("maximum-two", "roberta-base-finetuned-mnli-maximum_two_6.json")
]
phenomena_models = [load_model_metrics(name, PHENOMENA_PATH_PREFIX + path) for name, path in models]
quantifier_models = [load_model_metrics(name, QUANTIFIER_PATH_PREFIX + path) for name, path in models]

In [9]:
def sort_model(key, model):
    model["metrics"].sort(key=lambda x: x[key], reverse=True)
    return model

def construct_table_for_metric(metric_name, metric_key, models):
    sorted_models = [sort_model(metric_key, model) for model in models]
    pandas_dict = {model["name"]: [
            (
                entry["task_name"],
                round(entry[metric_key], 3)
            )
            for entry in model["metrics"]
        ] for model in models}
    df = pd.DataFrame({k:pd.Series(v) for k,v in pandas_dict.items()})
    df.name = metric_name
    return df

In [11]:
def calculate_metrics(models):
    return [ construct_table_for_metric(metric_name, metric_key, models) for metric_name, metric_key in [
        ("accuracy", "accuracy"),
        ("matthews correlation coefficient", "matthews_correlation"),
        ("macro f1", "f1")
    ]]

In [12]:
phenomena_metrics = calculate_metrics(phenomena_models)
quantifier_metrics = calculate_metrics(quantifier_models)

In [13]:
from IPython.core.display import display, HTML

def display_side_by_side(dfs):
    output = ""
    #df_dicts = dict(dfs)
    for df in dfs:
        output += df.style.set_table_attributes("style='display:inline'").set_caption(df.name)._repr_html_()
        output += "<br><br>"
    display(HTML(output))

In [16]:
display_side_by_side(
    phenomena_metrics
)

In [17]:
display_side_by_side(
    quantifier_metrics
)