In [28]:
from typing import Any
import json
import pandas as pd
PHENOMENA_PATH_PREFIX = "../scripts/metrics_by_phenomena/results/"
QUANTIFIER_PATH_PREFIX = "../scripts/analyze_quantifiers/results/"

In [29]:
def load_model_metrics(name: str, path: str) -> Any:
    with open(path, "r") as f:
        data = json.loads(f.read())
        return {"name": name, "metrics": data}

In [30]:
models = [
    ("default", "roberta-base-finetuned-mnli.json"),
    ("hypothesis-only", "roberta-base-finetuned-mnli-hypothesis-only.json"),
    ("maximum-two", "roberta-base-finetuned-mnli-maximum_two_6.json")
]
phenomena_models = [load_model_metrics(name, PHENOMENA_PATH_PREFIX + path) for name, path in models]
quantifier_models = [load_model_metrics(name, QUANTIFIER_PATH_PREFIX + path) for name, path in models]

In [31]:
def sort_model(key, model):
    model["metrics"].sort(key=lambda x: x[key], reverse=True)
    return model

def construct_table_for_metric(metric_name, metric_key, models):
    sorted_models = [sort_model(metric_key, model) for model in models]
    pandas_dict = {model["name"]: [
            (
                entry["task_name"],
                round(entry[metric_key], 3)
            )
            for entry in model["metrics"]
        ] for model in models}
    df = pd.DataFrame({k:pd.Series(v) for k,v in pandas_dict.items()})
    df.name = metric_name
    return df

In [32]:
def calculate_metrics(models):
    return [ construct_table_for_metric(metric_name, metric_key, models) for metric_name, metric_key in [
        ("accuracy", "accuracy"),
        ("matthews correlation coefficient", "matthews_correlation"),
        ("macro f1", "f1")
    ]]

In [33]:
phenomena_metrics = calculate_metrics(phenomena_models)
quantifier_metrics = calculate_metrics(quantifier_models)

In [34]:
from IPython.core.display import display, HTML

def display_side_by_side(dfs):
    output = ""
    #df_dicts = dict(dfs)
    for df in dfs:
        output += df.style.set_table_attributes("style='display:inline'").set_caption(df.name)._repr_html_()
        output += "<br><br>"
    display(HTML(output))

In [35]:
display_side_by_side(
    phenomena_metrics
)

In [36]:
display_side_by_side(
    quantifier_metrics
)

# Bias by Ferret metrics

In [70]:
from datasets import load_from_disk
import multiprocessing
from functools import reduce

In [38]:
PHENOMENA = ["synonym", "antonym", "hypernym", "hyponym", "co_hyponym", "quantifiers", "numericals"]
# Notebooks run on last, so path is also on last
DATASET_PATH = "/mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena"

In [39]:
dataset = load_from_disk(DATASET_PATH)

In [114]:
def construct_metrics_by_phenomenon(dataset, phenomenon):
    cpu_count = multiprocessing.cpu_count()
    def phenomenon_filter(record):
        return record[phenomenon] > 0
    return dataset.filter(phenomenon_filter, num_proc=cpu_count).to_pandas()["evaluations"]
    

def construct_phenomena_metrics(dataset, phenomena):
    return {phenomenon: construct_metrics_by_phenomenon(dataset, phenomenon) for phenomenon in phenomena}

def construct_phenomena_dfs(metrics):
    def bake_df(series, name):
        df = series.to_frame()
        df.name = name
        return df.evaluations
    return [bake_df(series, name) for name, series in metrics.items()]

In [115]:
phenomena_metrics = construct_phenomena_metrics(dataset, PHENOMENA)
phenomena_metrics = construct_phenomena_dfs(phenomena_metrics)

Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-cbeaf634725dc3b8_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-909255f04b113caa_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-9d06c1fb94f66ed4_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-9ebba56b915324d6_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-68ad2491d38d6f59_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-4b409e1145f63001_*_of_00040.arrow
Loading cached processed dataset at /mnt/semproj/sem_proj22/proj_05/esnli_evaluations_hypothesis_only_42_phenomena/cache-12776c914178e643_*_of_00040.arrow

In [116]:
EXPLAINERS = ["shap", "lime", "integrated gradient", "integrated gradient multiply by inputs"]
EVALUATORS = [  "comprehensiveness", "sufficency", "tauloo", "auprc plausibility", "f1 plausibility", "iou plausibility"]

In [129]:
def add_record_labels(records, explainer_labels, evaluator_labels):
    def add_evaluation_labels(explanation):
        return {name: evaluation for name, evaluation in zip(evaluator_labels, explanation)}
    def add_explainer_labels(record):
        return {name: add_evaluation_labels(explanation) for name, explanation in zip(explainer_labels, record)}
    return [add_explainer_labels(record) for record in records]


# Calculate sum, then divide by len, so that I do not need to read every
def record_mean(records):
    item_count = len(records)
    def sum_records(r1, r2):
        return [
            [
                r1_explanation + r2_explanation
                for r1_explanation, r2_explanation in zip(r1_evaluation, r2_evaluation)
            ]
            for r1_evaluation, r2_evaluation in zip(r1, r2)
        ]
    def finish_mean(input):
        return [
            [
                explanation / item_count
                for explanation in evaluation
            ]
            for evaluation in input
        ]
    aggregated = reduce(sum_records, records)
    return finish_mean(aggregated)

In [131]:
records_mean = [record_mean(phenomena) for phenomena in phenomena_metrics]
labeled_df = add_record_labels(records_mean, EXPLAINERS, EVALUATORS)

In [133]:
def phenomena_label(records):
    return {name: record for name, record in zip(PHENOMENA, records)}

In [134]:
stuff = phenomena_label(labeled_df)
stuff

{'synonym': {'shap': {'comprehensiveness': 0.045385291264633,
   'sufficency': -0.056844143428987616,
   'tauloo': 0.12179761311748517,
   'auprc plausibility': 0.478986313047208,
   'f1 plausibility': 0.4097535972345657,
   'iou plausibility': 0.2888220924957251},
  'lime': {'comprehensiveness': 0.14206238029328566,
   'sufficency': -0.09312947349795977,
   'tauloo': 0.5588175889739975,
   'auprc plausibility': 0.5203213184341128,
   'f1 plausibility': 0.41099776155188583,
   'iou plausibility': 0.294773572840704},
  'integrated gradient': {'comprehensiveness': -0.017276829120072112,
   'sufficency': 0.01542256836308882,
   'tauloo': -0.02301516924868122,
   'auprc plausibility': 0.5260566771646235,
   'f1 plausibility': 0.4101408178285414,
   'iou plausibility': 0.29237612464493545},
  'integrated gradient multiply by inputs': {'comprehensiveness': 0.09876179238165327,
   'sufficency': -0.055451494700918154,
   'tauloo': 0.2890464987307779,
   'auprc plausibility': 0.5237228900440036,
   'f1 plausibility': 0.40650747393312364,
   'iou plausibility': 0.2942833070018081}},
 'antonym': {'shap': {'comprehensiveness': 0.014560000162746996,
   'sufficency': -0.09147646741126382,
   'tauloo': 0.09804595635088241,
   'auprc plausibility': 0.4385803355877318,
   'f1 plausibility': 0.3806005603221103,
   'iou plausibility': 0.27327143926987285},
  'lime': {'comprehensiveness': 0.12334435171398084,
   'sufficency': -0.14218112612684364,
   'tauloo': 0.5255714123557553,
   'auprc plausibility': 0.4946403631863312,
   'f1 plausibility': 0.37574205455561416,
   'iou plausibility': 0.276075382638869},
  'integrated gradient': {'comprehensiveness': -0.019886086147468496,
   'sufficency': -0.05620438824199167,
   'tauloo': -0.011361584846205194,
   'auprc plausibility': 0.43425735951818595,
   'f1 plausibility': 0.3382235870129335,
   'iou plausibility': 0.23699100931510872},
  'integrated gradient multiply by inputs': {'comprehensiveness': 0.08024699177162284,
   'sufficency': -0.036714682276597466,
   'tauloo': 0.26326936670828727,
   'auprc plausibility': 0.41205298614643815,
   'f1 plausibility': 0.2550195163996615,
   'iou plausibility': 0.1811567675547166}},
 'hypernym': {'shap': {'comprehensiveness': 0.045406258928518385,
   'sufficency': -0.04443688847481948,
   'tauloo': 0.09747258631288189,
   'auprc plausibility': 0.45858267582284995,
   'f1 plausibility': 0.4049367236308823,
   'iou plausibility': 0.28350551406508573},
  'lime': {'comprehensiveness': 0.13927180329233463,
   'sufficency': -0.07794128920307264,
   'tauloo': 0.5493500900127058,
   'auprc plausibility': 0.49338129525203944,
   'f1 plausibility': 0.3914622239300747,
   'iou plausibility': 0.27788024897755975},
  'integrated gradient': {'comprehensiveness': -0.02009834836795663,
   'sufficency': 0.021150987688942604,
   'tauloo': -0.03385544316077648,
   'auprc plausibility': 0.5271012057540295,
   'f1 plausibility': 0.41285549536853555,
   'iou plausibility': 0.29282551007554847},
  'integrated gradient multiply by inputs': {'comprehensiveness': 0.09217544421901631,
   'sufficency': -0.04535040121677344,
   'tauloo': 0.2705993481080957,
   'auprc plausibility': 0.5002972029748598,
   'f1 plausibility': 0.3918621528069957,
   'iou plausibility': 0.2796467276002979}},
 'hyponym': {'shap': {'comprehensiveness': 0.04282134407639286,
   'sufficency': -0.05782091833051972,
   'tauloo': 0.1100148887688004,
   'auprc plausibility': 0.4677524669042033,
   'f1 plausibility': 0.4056023853998778,
   'iou plausibility': 0.2834713202199534},
  'lime': {'comprehensiveness': 0.13696935914799516,
   'sufficency': -0.0858817483243089,
   'tauloo': 0.555469626705371,
   'auprc plausibility': 0.5006775038039958,
   'f1 plausibility': 0.38789036882495587,
   'iou plausibility': 0.2751175618250637},
  'integrated gradient': {'comprehensiveness': -0.026161993106229346,
   'sufficency': 0.012682665521338352,
   'tauloo': -0.034106399564300525,
   'auprc plausibility': 0.5155734909983508,
   'f1 plausibility': 0.4004767672117398,
   'iou plausibility': 0.28282255040933874},
  'integrated gradient multiply by inputs': {'comprehensiveness': 0.09202148461349555,
   'sufficency': -0.053427562407113986,
   'tauloo': 0.27591542543991077,
   'auprc plausibility': 0.5008183826852454,
   'f1 plausibility': 0.39050422207767127,
   'iou plausibility': 0.28113438001335717}},
 'co_hyponym': {'shap': {'comprehensiveness': 0.04121246941106783,
   'sufficency': -0.0681699670402733,
   'tauloo': 0.12340717016241647,
   'auprc plausibility': 0.48575583936679734,
   'f1 plausibility': 0.41398453161911936,
   'iou plausibility': 0.29540904198414114},
  'lime': {'comprehensiveness': 0.140603731839816,
   'sufficency': -0.1018867097166583,
   'tauloo': 0.5554426096144138,
   'auprc plausibility': 0.5270755697612285,
   'f1 plausibility': 0.4109635967848849,
   'iou plausibility': 0.29762252384364585},
  'integrated gradient': {'comprehensiveness': -0.0179743574046271,
   'sufficency': -0.0017062898688589348,
   'tauloo': -0.025535167748347222,
   'auprc plausibility': 0.5012636291524765,
   'f1 plausibility': 0.39282243918752485,
   'iou plausibility': 0.27893724014998955},
  'integrated gradient multiply by inputs': {'comprehensiveness': 0.09557264419491956,
   'sufficency': -0.051876070150632524,
   'tauloo': 0.27966214443772514,
   'auprc plausibility': 0.5097171624831973,
   'f1 plausibility': 0.3856209497354339,
   'iou plausibility': 0.2803219153860601}},
 'quantifiers': {'shap': {'comprehensiveness': 0.04242390193129805,
   'sufficency': 0.07517423341050744,
   'tauloo': 0.07996107427925608,
   'auprc plausibility': 0.46048234367080293,
   'f1 plausibility': 0.30654339347521165,
   'iou plausibility': 0.20457818696455057},
  'lime': {'comprehensiveness': 0.20178896518932146,
   'sufficency': -0.07075037027243525,
   'tauloo': 0.5622587008950645,
   'auprc plausibility': 0.49047897940653623,
   'f1 plausibility': 0.3874185788958516,
   'iou plausibility': 0.2666092114955751},
  'integrated gradient': {'comprehensiveness': 0.018197671975940466,
   'sufficency': 0.05309482842726125,
   'tauloo': 0.022459484959484962,
   'auprc plausibility': 0.4392635719634503,
   'f1 plausibility': 0.3381622165713075,
   'iou plausibility': 0.2275810048537321},
  'integrated gradient multiply by inputs': {'comprehensiveness': 0.17789994514631954,
   'sufficency': -0.051425200484862384,
   'tauloo': 0.3844467401285584,
   'auprc plausibility': 0.48205745860981253,
   'f1 plausibility': 0.41190564486019027,
   'iou plausibility': 0.28877410468319553}},
 'numericals': {'shap': {'comprehensiveness': 0.05050871379674904,
   'sufficency': -0.03262492895596746,
   'tauloo': 0.1384421136090171,
   'auprc plausibility': 0.507678000672754,
   'f1 plausibility': 0.402497939842195,
   'iou plausibility': 0.2874738206564003},
  'lime': {'comprehensiveness': 0.15433407377602454,
   'sufficency': -0.07780470491948636,
   'tauloo': 0.5706329906710305,
   'auprc plausibility': 0.5320735607195081,
   'f1 plausibility': 0.4195988075061399,
   'iou plausibility': 0.3035045091816983},
  'integrated gradient': {'comprehensiveness': -0.007114256847336369,
   'sufficency': 0.03355907212383642,
   'tauloo': -0.02455416212252113,
   'auprc plausibility': 0.5038402800978334,
   'f1 plausibility': 0.3906515174919993,
   'iou plausibility': 0.2766892440420351},
  'integrated gradient multiply by inputs': {'comprehensiveness': 0.11430000791645448,
   'sufficency': -0.04213728444710518,
   'tauloo': 0.28948360850812727,
   'auprc plausibility': 0.5205423263568593,
   'f1 plausibility': 0.4048205528348097,
   'iou plausibility': 0.29460399363957485}}}

In [136]:
def another_df(phenomenon, item):
    df = pd.DataFrame({k:pd.Series(v) for k,v in item.items()})
    df.name = phenomenon
    return df

display_side_by_side(
    [another_df(phenomenon, single) for phenomenon, single in stuff.items()]
)